<%- include("partials/BasicTopCode") %>
 <%- include("partials/nav.ejs") %>

    <main class="container-fluid p-4">
      <h3 class="text-center">My item is added successfully.</h3>
       <a href="/" class="btn btn-danger">Go to Home</a>
    </main>
<%- include("partials/footer") %>