<%- include("partials/BasicTopCode") %>
<%- include("partials/nav") %>
  <header class="container-fluid border border2 rounded rounded-2 bg-danger text-white p-2">
    <h1>This page is not found and 404 page</h1>
  </header>
<%- include("partials/footer") %>