  <% if(typeof errorMessage !== 'undefined' && errorMessage && errorMessage.length > 0){ %>
  <div>
    <ul>
      <% errorMessage.forEach((error)=>{ %>
        <li><%= error %></li>
      <% }); %>
    </ul>
  </div>
  <% } %>