<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstrap with Express</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <div class="container mt-5">
    <h1 class="text-center text-primary">Bootstrap with Express</h1>
    <button class="btn btn-success">Click Me</button>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore earum esse delectus error velit facere, officiis harum commodi cumque libero!</p>
  </div>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
